Checks: '*, -modernize*, -llvmlibc*, -altera*, -cppcoreguidelines*, -google-readability*, -llvm-include-order, -llvm-header-guard, -readability-redundant*, -readability-magic-numbers, -llvm-namespace-comment, -hicpp-avoid-c-arrays, -misc-non-private-member-variables-in-classes, -fuchsia-overloaded-operator, -hicpp-noexcept-*, -google-runtime-int, -cert-dcl58-cpp, -google-explicit-constructor, -hicpp-explicit-conversions, -hicpp-deprecated*, -performance-noexcept*, -bugprone-exception-escape, -hicpp-braces-around-statements, -readability-braces-around-statements, -fuchsia-default-arguments-calls, -misc-unused-parameters'
WarningsAsErrors: '*,-clang-diagnostic-error'
#HeaderFilterRegex: '^.*(\\|\/)(Common|Client|Server)(\\|\/).*\.(hpp|h|cpp|c)$'
FormatStyle: none
